* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
 }

h1{
    background-color: rgb(189, 24, 24);
    text-align: center;
    padding: 40px;
}


#informacoes{
    margin: 40px;
    justify-self: center; 
    background-color: rgb(224, 14, 14);  /* muda a cor do meu campo informacoes */
    width: 40%; /* meu campo informacoes ocupa uma parte da página */
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
    border-radius: 10px; /* altera as bordas do meu campo informacoes */
}
   

.dadosDelogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


